{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="d-flex justify-content-center p-5">
    <div class="w-50">
        <form
            class="bg-dark text-light p-5"
            action="{% url 'dashboardView' %}"
            method="post"
        >
            {% csrf_token %} {{ form|crispy }}
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>
{{ user.username }}
<div class="card-deck d-flex justify-content-around flex-wrap">
    {% for book in userBooks %}

    <div class="card my-3" style="width: 18rem">
        <img
            class="card-img-top"
            src="{{ book.image.url }}"
            alt="Card image cap"
        />
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <!--<h1> {{ book.title }} </h1> -->
    {% endfor %}
</div>

{% endblock %}
